* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    scrollbar-width: none;
    font-family: "Roboto-Bold", sans-serif;
    scroll-behavior: smooth;

}.service {
    background: #f8f5f457;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.blob1 {
    width: 100%;
    height: 40%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M798.5 607Q623 714 485 740T208 633Q69 500 232.5 410t294-136.5q130.5-46.5 289 90t-17 243.5Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22%23780A00%22 d=%22M798.5 607Q623 714 485 740T208 633Q69 500 232.5 410t294-136.5q130.5-46.5 289 90t-17 243.5Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    position: absolute;
    top: 400px;
    right: -100px;
    z-index: -1;
    opacity: 0.1;
}

.blob2 {
    width: 70%;
    height: 40%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M790 641.5q99 141.5-39.5 172t-222-56.5Q445 670 291 717t-101-85q53-132 119-177.5t54.5-228Q352 44 480 105.5T655 260q47 93 41.5 166.5t93.5 215Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22%23780A00%22 d=%22M790 641.5q99 141.5-39.5 172t-222-56.5Q445 670 291 717t-101-85q53-132 119-177.5t54.5-228Q352 44 480 105.5T655 260q47 93 41.5 166.5t93.5 215Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    position: absolute;
    top: 1200px;
    left: -10%;
    z-index: -1;
    opacity: 0.1;
}

.blob3 {
    width: 70%;
    height: 40%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M788 642.5Q893 785 756 825t-224.5-56.5Q444 672 362 666t-144-86q-62-80 41.5-129.5t139-101.5Q434 297 518 241.5T719 221q117 35 40.5 157T788 642.5Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22%23780A00%22 d=%22M788 642.5Q893 785 756 825t-224.5-56.5Q444 672 362 666t-144-86q-62-80 41.5-129.5t139-101.5Q434 297 518 241.5T719 221q117 35 40.5 157T788 642.5Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    position: absolute;
    top: 2200px;
    right: -10%;
    z-index: -1;
    opacity: 0.1;
}

@media (max-width: 1080px) {
    .blob1 {

        height: 30%;
    }

    .blob2 {
        height: 30%;
    }

    .blob3 {
        height: 30%;
    }
}


.section {
    padding: 60px 170px 60px 170px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    background: url(/img/about\ us.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    background-position: 0 -100PX;
}

.section::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #04040441;
    position: absolute;
    bottom: 0;
    left: 0;
}


.container_services {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.title_services {
    color: #f6fef8;
    text-align: center;
    font-family: "Roboto-Bold", sans-serif;
    font-size: clamp(1.8rem, 4vw, 3.5rem);
    line-height: 48px;
    font-weight: 700;
    position: relative;

}


@media (max-width: 1080px) {
    .section {
        padding: 60px 150px 60px 150px;
        background-position: 0 -90PX;
    }
}

@media (max-width: 900px) {
    .section {
        padding: 60px 100px 60px 100px;
        background-position: 0px 0PX;
    }
}

@media (max-width: 685px) {
    .section {
        padding: 60px 50px 60px 50px;
        height: 70vh;
        background-position: -20px 0PX;
    }
}

@media (max-width: 480px) {
    .section {
        padding: 60px 50px 60px 50px;
        height: 70vh;
        background-position: center;
    }
}

/* navigation bar */
.top-bar {
    padding: 20px 120px;
    width: 100%;
    height: 12vh;
    position: absolute;
    left: 0;
    top: 20px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    z-index: 3;
}

.topbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
}

.logos {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: -30px;
}

.logo_container {
    background-image: url(/img/cgexplicit\ \(4\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    background-position: center;
    width: 200px;
    height: 120px;
    align-items: center;
}

.logo_nav {
    display: none;
}


.navstylelink {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
}

.menu {
    display: flex;
    justify-content: space-between;
    gap: 2.125em;
}

.tab {
    text-decoration: none;
    color: #780A00;
    font-size: 1.125em;
    line-height: 24px;
    letter-spacing: 0.05em;
    font-weight: 400;
    position: relative;
    align-items: center;
    cursor: pointer;
}

.tab.active {
    color: #2dd4bf;
}

.tab::before {
    content: '';
    width: 0%;
    height: 5px;
    background-color: #780A00;
    position: absolute;
    bottom: -6px;
    transition: 0.9s;
}

.tab:hover::before {
    width: 100%;
}

.contact_tab {
    background: #780a00c8;
    padding: 0.55rem 1.3rem;
    border-radius: 8px;
    margin-left: 20px;
    transition: background-color 0.2s;
}

.contact_tab:hover {
    background-color: #780a0063;
}

.tab4 {
    color: #ffffff;
}

.tab4:hover::before {
    width: 0;
}

.mobilenavtoggle {
    display: none;
}

@media (max-width: 1250px) {
    .logo_container {
        width: 190px;
        height: 110px;
    }

    .logo_title {
        font-size: 1.5em;
    }

    .tab {
        font-size: 1.025em;
    }
}

@media (max-width: 1150px) {
    .logo_container {
        width: 180px;
        height: 100px;
    }

    .logo_title {
        font-size: 1.3em;
    }

    .tab {
        font-size: 1.005em;
    }
}

@media (max-width: 1070px) {

    .logo_title {
        font-size: 1.125em;
    }

    .tab {
        font-size: 0.9em;
    }

    .textfield {
        width: 120px;
    }

    .title {
        font-size: 2.5em;
        line-height: 40px;
    }

    .description {
        font-size: 1.4em;
        margin-top: 5px;
    }

    .button {
        margin-top: 10px;
    }

    .primary {
        padding: 0.5rem 1.2rem;
    }

    .title2 {
        font-size: 0.8em;
    }
}

@media (max-width: 890px) {

    .navstylelink {
        position: absolute;
        top: -30px;
        right: 0%;
        background-color: #c36c64;
        display: flex;
        flex-direction: column;
        padding: min(5vh, 7rem) 2em;
        backdrop-filter: blur(8rem);
        align-items: center;
        z-index: 10;
        width: 100%;
        height: 100vh;
        transform: translatex(100%);
        transition: transform 150ms ease-out;

    }

    .navstylelink[data-visible="true"] {
        transform: translatex(0%);
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px 0;
        list-style: none;
        z-index: 6;
        color: white;
        width: 100%;
        padding-block: 130px;
    }


    .tab {
        font-size: 18px;
        text-decoration: none;
        color: white;
        border-style: none;
        font-weight: normal;
        padding-bottom: 20px;
        font-family: 'El Messiri', sans-serif;
        border-bottom: 1px solid white;
        width: 100%;
    }

    .tab::before {
        display: none;
    }

    .contact_tab {
        background: none;
        border: 1px solid white;
        width: 100%;
        border-radius: 0px;
        padding: 1.25rem 1.3rem;
        text-align: center;
        font-family: 'El Messiri', sans-serif;
        font-size: 20px;
        color: white;
    }

    .contact_tab:hover {
        background: none;
    }


    .mobilenavtoggle {
        display: block;
        position: absolute;
        background: url(/img/icon-hamburger.svg);
        background-repeat: no-repeat;
        width: 2rem;
        border: 0;
        aspect-ratio: 1;
        top: 40%;
        right: 2.5rem;
        z-index: 1000;
    }

    .mobilenavtoggle[aria-expanded="true"] {
        background-image: url(/img/icon-close.svg);
        z-index: 1000;
    }

    .logos {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-left: -100px;
    }

    .logo_nav {
        display: block;
        background-image: url(/img/cgexplicit\ white\ \(5\).png);
        background-repeat: no-repeat;
        background-size: cover;
        background-size: 100%;
        background-position: center;
        width: 180px;
        height: 100px;
        align-items: center;
        position: absolute;
        left: 0;
        top: 30px;
    }

    .logo_container {
        width: 180px;
        height: 100px;
    }
}

@media (max-width: 480px) {
    .logos {
        margin-left: -130px;
    }

    .mobilenavtoggle {
        right: 20px;
    }
}

@media (max-width: 390px) {
    .logo_nav {
        background-image: url(/img/cgexplicit\ white\ \(5\).png);
        width: 150px;
        height: 80px;
        top: 30px;
    }

    .logo_container {
        width: 150px;
        height: 80px;
    }
}




/* about us body */
.section1 {
    padding: 120px 120px;
    margin-top: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    width: 100%;
    max-width: 1640px;
    position: relative;
}
.story_container{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* align-items: center;
    justify-content: center; */
}
.story_writeup{
    width: 100%;
    font-family: "Roboto-Regular", sans-serif;
    line-height: 30px;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    color: rgb(96, 96, 96);
}
.story_image {
    width: 60%;
}

.story_image img {
    width: 100%;
    border-radius: 0px 0px 20px 0;
    height: auto;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
}

.mission_writeup{
    background-color: #ffffff;
    border-radius: 20px;
    position: absolute;
    left: 600px;
    bottom: 15%;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px;
    line-height: 30px;
    color: rgb(96, 96, 96);
    font-family: "Roboto-Regular", sans-serif;
    gap: 10px;
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
}
.mission_writeup:hover{
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
}
.commit_icon {
    width: 50px;
    height: 50px;
    background-color: #780A00;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: clamp(1.2rem, 2vw, 2rem);
    text-align: center;
}
.mission_writeup h1{
    font-size: clamp(1rem, 2vw, 1.8rem);
    color: #780A00;
}
.mission_writeup p{
    font-size: clamp(0.8rem, 2vw, 1.1rem);
}
@media (max-width: 1440px) {

    .mission_writeup {
        position: absolute;
        left: 400px;
        bottom: 8%;
        width: 60%;
    }
}

@media (max-width: 1280px) {
    .section1 {
        padding: 100px 110px;
    }
    .mission_writeup {
        position: absolute;
        left: 350px;
        bottom: 8%;
        width: 60%;
        padding: 30px;
    }
}

@media (max-width: 1180px) {
    .section1 {
        padding: 80px 100px;
    }
    .mission_writeup {
        position: absolute;
        left: 350px;
        bottom: 4%;
        width: 70%;
        padding: 30px;
    }
}
@media (max-width: 1080px) {
    .section1 {
        padding: 80px 90px;
    }
    .mission_writeup {
        position: absolute;
        left: 300px;
        bottom: 0%;
        width: 70%;
        padding: 30px;
    }
}
@media (max-width: 960px) {
    .section1 {
        padding: 80px 80px;
    }
    .mission_writeup {
        position: relative;
        left: 0px;
        width: 100%;
        padding: 30px;
        margin-top: -20px;
        line-height: 18px;
    }
    .story_writeup{
        width: 100%;
        font-size: clamp(0.8rem, 2vw, 1.2rem);
        line-height: 25px;
    }
    .story_image {
        width: 100%;
        margin-top: -10px;
    }
    .story_image img {
        box-shadow: none;
    }
    .commit_icon{
        width: 45px;
        height: 45px;
    }
}
@media (max-width: 660px){
    .section1 {
        padding: 80px 50px;
    }
    .story_writeup{
        width: 100%;
        line-height: 20px;
    }
    .mission_writeup{
        line-height: 20px;
        gap: 10px;
    }
}

@media (max-width: 480px) {
    .section1 {
        padding: 80px 20px;
    }
    .commit_icon {
        width: 40px;
        height: 40px;
    }
}


/* why us section */
.why_container{
    padding: 40px 120px 40px 120px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #780a005a;
    backdrop-filter: blur(10px);
    position: relative;
    overflow: hidden;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}
.why_box{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.smallbox{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.layer{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 250px;
    gap: 30px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 20px;
    font-family: "Roboto-Medium", sans-serif;
}
.box{
    display: flex;
    gap: 15px;
    align-items: center;

}

.sidebox{
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #780A00;
    border-radius: 5px;
}
.sidebox::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: #780a0082;
    position: absolute;
    top: 5px;
    right: -5px;
}

.box h3 {
    font-size: clamp(0.8rem, 2vw, 1rem);
    word-spacing: -2px;
}
.layer p {
    line-height: 20px;
    font-size: clamp(0.7rem, 1vw, 0.85rem);
}

@media (max-width: 960px) {
    .why_container{
        padding: 40px 80px 40px 80px;
        align-items: center;
        justify-content: center;
    }
    .smallbox{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    .layer{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        gap: 20px;
    }
    .box h3 {
        font-size: clamp(0.9rem, 2vw, 1.2rem);
        word-spacing: 0px;
    }
    .layer p {
        line-height: 20px;
        font-size: clamp(0.8rem, 1vw, 1rem);
    }
}
@media (max-width: 660px) {
    .why_container{
        padding: 40px 50px;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .why_container {
        padding: 80px 20px;
    }

}


/* commitent section */
.mission {
    padding: 40px 120px 40px 120px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}

@media (max-width: 1080px) {
    .mission {
        padding: 40px 100px;
    }
}

.mission_container {
    position: relative;
    max-width: 864px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow:
        0 0px 30px 20px rgba(0, 0, 0, 0.04),
        0 0px 10px 10px rgba(0, 0, 0, 0.04);
    margin-top: 0px;
}

.commit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 100px;
    font-family: "Roboto-Medium", sans-serif;
    gap: 20px;
}

.commit2 {
    background-color: #780a0029;
}

.commit_icon {
    width: 50px;
    height: 50px;
    background-color: #780A00;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: clamp(1.2rem, 2vw, 2rem);
    text-align: center;
}

.commit h1 {
    font-size: clamp(1.3rem, 3vw, 1.8rem);
    text-align: center;
}

.commit p {
    text-align: center;
    font-size: clamp(0.8rem, 2vw, 1rem);
    color: #000000b8;
    line-height: 30px;
}

@media (max-width: 950px) {
    .mission {
        padding: 0px 0px 0 0;
    }

    .mission_container {
        position: relative;
        max-width: none;
        width: 100%;
        border-radius: 0px;
        box-shadow: none;
        margin-top: 0px;
    }

    .commit {
        padding: 60px 50px;
        gap: 10px;
    }

    .commit_icon {
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 480px) {

    .mission_container {
        position: relative;
        max-width: none;
        width: 100%;
        border-radius: 0px;
        box-shadow: none;
        margin-top: 0px;
    }

    .commit {
        padding: 60px 20px;
        gap: 10px;
    }

    .commit_icon {
        width: 40px;
        height: 40px;
    }

    .commit p {
        line-height: 20px;
    }
}
















/* footer */
.section3 {
    padding: 20px 120px;
    background: #780A00;
    width: 100%;
    height: 60vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.footer_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1080px;
}

.footer_logo {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logos1 {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    cursor: pointer;
    margin-top: -100px;
}

.logo_container2 {
    background-image: url(/img/cgexplicit\ white\ \(5\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    width: 200px;
    height: 120px;
    margin-left: -30px;
}

.footer_box1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-block: 20px;
}

.container6 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: start;
    justify-content: start;
}

.footer_contact {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: start;
    justify-content: start;

}

.footer_legal {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: start;
    justify-content: start;
}

.container6 h4,
.footer_contact h4,
.footer_legal h4 {
    color: #a79c04;
    font-family: "Roboto-Regular", sans-serif;
    font-size: clamp(0.7rem, 2vw, 1rem);
    position: relative;
    padding-bottom: 7px;
    margin-bottom: 10px;
}

.container6 h4::before,
.footer_contact h4::before,
.footer_legal h4::before {
    content: "";
    height: 2px;
    width: 50%;
    position: absolute;
    bottom: 0;
    background-color: #a79c04;
}

.container6 a,
.footer_contact a,
.footer_legal a {
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    font-size: clamp(0.5rem, 1vw, 0.8rem);
    line-height: 30px;
    transition: all 0.5s;
}


.container6 a:hover,
.footer_contact a:hover,
.footer_legal a:hover {
    text-decoration: underline;
    transition: all 0.5s;
}


.socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    position: absolute;
    bottom: 70px;
    left: 0px;
}

.socialicon {
    list-style-type: none;
    display: flex;
    gap: 0px;
}

.socialicon li {
    padding-inline: 30px;
}

.socials .socialicon i {
    display: block;
    color: #8f6313;
    align-items: center;
}

.socials .socialicon i:hover {
    color: #919393ab;
}

.socialsapp a {
    font-size: clamp(1rem, 1vw, 1.6rem);
    color: #a79c04;
    text-decoration: none;
    padding: 5px;
    margin-inline: 20px;
}


.line-1 {
    margin-top: -1px;
    border-style: solid;
    border-color: #fff8f6;
    border-width: 1px 0 0 0;
    flex-shrink: 0;
    width: 40%;
    height: 0px;
    position: absolute;
    /* left: 20px; */
    bottom: 40px;

}

.container7 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    height: 100px;
    position: absolute;
    /* left: 20px; */
    bottom: -30px;
}

.title20 {
    color: #fff8f6;
    font-family: "Roboto-Regular", sans-serif;
    font-size: clamp(0.5rem, 1vw, 0.7rem);
    line-height: 28px;
    font-weight: 400;
}

@media (max-width: 900px) {
    .section3 {
        padding: 20px 80px;
    }

    .line-1 {
        width: 100%;
    }
}

@media (max-width: 680px) {
    .section3 {
        padding: 20px 50px;
    }

}

@media (max-width: 480px) {
    .section3 {
        padding: 20px 20px;
    }

    .logos1 {
        margin-top: -100px;
    }

    .logo_container2 {
        width: 130px;
        height: 80px;
        margin-left: -20px;

    }
}