* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    scrollbar-width: none;
    font-family: "Roboto-Bold", sans-serif;
    scroll-behavior: smooth;
    
}
/* body{
    position: relative;
    
} */
.service {
    background: #f8f5f457;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.blob1 {
    width: 80%;
    height: 40%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M798.5 607Q623 714 485 740T208 633Q69 500 232.5 410t294-136.5q130.5-46.5 289 90t-17 243.5Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22%23780A00%22 d=%22M798.5 607Q623 714 485 740T208 633Q69 500 232.5 410t294-136.5q130.5-46.5 289 90t-17 243.5Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    position: absolute;
    top: 200px;
    right: -200px;
    z-index: -1;
    opacity: 0.1;
}
.blob2 {
    width: 70%;
    height: 40%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M790 641.5q99 141.5-39.5 172t-222-56.5Q445 670 291 717t-101-85q53-132 119-177.5t54.5-228Q352 44 480 105.5T655 260q47 93 41.5 166.5t93.5 215Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22%23780A00%22 d=%22M790 641.5q99 141.5-39.5 172t-222-56.5Q445 670 291 717t-101-85q53-132 119-177.5t54.5-228Q352 44 480 105.5T655 260q47 93 41.5 166.5t93.5 215Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    position: absolute;
    top: 1200px;
    left: -10%;
    z-index: -1;
    opacity: 0.1;
}
.blob3 {
    width: 70%;
    height: 40%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M788 642.5Q893 785 756 825t-224.5-56.5Q444 672 362 666t-144-86q-62-80 41.5-129.5t139-101.5Q434 297 518 241.5T719 221q117 35 40.5 157T788 642.5Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22%23780A00%22 d=%22M788 642.5Q893 785 756 825t-224.5-56.5Q444 672 362 666t-144-86q-62-80 41.5-129.5t139-101.5Q434 297 518 241.5T719 221q117 35 40.5 157T788 642.5Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    position: absolute;
    top: 2200px;
    right: -10%;
    z-index: -1;
    opacity: 0.1;
}
@media (max-width: 1280px){
    .blob1 {

        height: 30%;
    }
    .blob2 {
        height: 30%;
    }
    .blob3 {
        height: 30%;
    }
}


.section {
    padding: 60px 170px 60px 170px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    background:url(/img/pexels-a-darmel-7642130.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    background-position: 0 -200PX;
}
.section::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #04040441;
    position: absolute;
    bottom: 0;
    left: 0;
}


.container_services {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.title_services {
    color: #f6fef8;
    text-align: center;
    font-family: "Roboto-Bold", sans-serif;
    font-size: clamp(1.6rem, 3vw, 3rem);
    line-height: 48px;
    font-weight: 700;
    position: relative;

}

.description_services {
    color: #f6fef8;
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    font-size: clamp(1rem, 2vw, 1.4rem);
    line-height: 24px;
    font-weight: 400;
    position: relative;
}
@media (max-width: 1080px) {
    .section {
        padding: 60px 150px 60px 150px;
        background-position: 0 -90PX;
    }
}

@media (max-width: 900px) {
    .section {
        padding: 60px 100px 60px 100px;
        background-position: 0px 0PX;
    }
}

@media (max-width: 685px) {
    .section {
        padding: 60px 50px 60px 50px;
        height: 70vh;
        background-position: -20px 0PX;
    }
}

@media (max-width: 480px) {
    .section {
        padding: 60px 50px 60px 50px;
        height: 70vh;
        background-position: -100px center;
    }
}

/* navigation bar */
.top-bar {
    padding: 20px 120px;
    width: 100%;
    height: 12vh;
    position: absolute;
    left: 0;
    top: 20px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    z-index: 3;
}

.topbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
}

.logos {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: -30px;
}

.logo_container {
    background-image: url(/img/cgexplicit\ \(4\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    background-position: center;
    width: 200px;
    height: 120px;
    align-items: center;
}

.logo_nav {
    display: none;
}


.navstylelink {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
}

.menu {
    display: flex;
    justify-content: space-between;
    gap: 2.125em;
}

.tab {
    text-decoration: none;
    color: #780A00;
    font-size: 1.125em;
    line-height: 24px;
    letter-spacing: 0.05em;
    font-weight: 400;
    position: relative;
    align-items: center;
    cursor: pointer;
}

.tab.active {
    color: #2dd4bf;
}

.tab::before {
    content: '';
    width: 0%;
    height: 5px;
    background-color: #780A00;
    position: absolute;
    bottom: -6px;
    transition: 0.9s;
}

.tab:hover::before {
    width: 100%;
}

.contact_tab {
    background: #780a00c8;
    padding: 0.55rem 1.3rem;
    border-radius: 8px;
    margin-left: 20px;
    transition: background-color 0.2s;
}

.contact_tab:hover {
    background-color: #780a0063;
}

.tab4 {
    color: #ffffff;
}

.tab4:hover::before {
    width: 0;
}

.mobilenavtoggle {
    display: none;
}

@media (max-width: 1250px) {
    .logo_container {
        width: 190px;
        height: 110px;
    }

    .logo_title {
        font-size: 1.5em;
    }

    .tab {
        font-size: 1.025em;
    }
}

@media (max-width: 1150px) {
    .logo_container {
        width: 180px;
        height: 100px;
    }

    .logo_title {
        font-size: 1.3em;
    }

    .tab {
        font-size: 1.005em;
    }
}

@media (max-width: 1070px) {

    .logo_title {
        font-size: 1.125em;
    }

    .tab {
        font-size: 0.9em;
    }

    .textfield {
        width: 120px;
    }

    .title {
        font-size: 2.5em;
        line-height: 40px;
    }

    .description {
        font-size: 1.4em;
        margin-top: 5px;
    }

    .button {
        margin-top: 10px;
    }

    .primary {
        padding: 0.5rem 1.2rem;
    }

    .title2 {
        font-size: 0.8em;
    }
}

@media (max-width: 890px) {

    .navstylelink {
        position: absolute;
        top: -30px;
        right: 0%;
        background-color: #c36c64;
        display: flex;
        flex-direction: column;
        padding: min(5vh, 7rem) 2em;
        backdrop-filter: blur(8rem);
        align-items: center;
        z-index: 10;
        width: 100%;
        height: 100vh;
        transform: translatex(100%);
        transition: transform 150ms ease-out;

    }

    .navstylelink[data-visible="true"] {
        transform: translatex(0%);
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px 0;
        list-style: none;
        z-index: 6;
        color: white;
        width: 100%;
        padding-block: 130px;
    }


    .tab {
        font-size: 18px;
        text-decoration: none;
        color: white;
        border-style: none;
        font-weight: normal;
        padding-bottom: 20px;
        font-family: 'El Messiri', sans-serif;
        border-bottom: 1px solid white;
        width: 100%;
    }

    .tab::before {
        display: none;
    }

    .contact_tab {
        background: none;
        border: 1px solid white;
        width: 100%;
        border-radius: 0px;
        padding: 1.25rem 1.3rem;
        text-align: center;
        font-family: 'El Messiri', sans-serif;
        font-size: 20px;
        color: white;
    }

    .contact_tab:hover {
        background: none;
    }


    .mobilenavtoggle {
        display: block;
        position: absolute;
        background: url(/img/icon-hamburger.svg);
        background-repeat: no-repeat;
        width: 2rem;
        border: 0;
        aspect-ratio: 1;
        top: 40%;
        right: 2.5rem;
        z-index: 1000;
    }

    .mobilenavtoggle[aria-expanded="true"] {
        background-image: url(/img/icon-close.svg);
        z-index: 1000;
    }

    .logos {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-left: -100px;
    }

    .logo_nav {
        display: block;
        background-image: url(/img/cgexplicit\ white\ \(5\).png);
        background-repeat: no-repeat;
        background-size: cover;
        background-size: 100%;
        background-position: center;
        width: 180px;
        height: 100px;
        align-items: center;
        position: absolute;
        left: 0;
        top: 30px;
    }

    .logo_container {
        width: 180px;
        height: 100px;
    }
}

@media (max-width: 480px) {
    .logos {
        margin-left: -130px;
    }

    .mobilenavtoggle {
        right: 20px;
    }
}

@media (max-width: 390px) {
    .logo_nav {
        background-image: url(/img/cgexplicit\ white\ \(5\).png);
        width: 150px;
        height: 80px;
        top: 30px;
    }

    .logo_container {
        width: 150px;
        height: 80px;
    }
}

/* business section */
.section1 {
    padding: 120px 120px;
    margin-top: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1640px;
}
@media (max-width: 1180px) {
    .section1 {
        padding:100px 100px;
    }
}
@media (max-width: 1180px) {
    .section1 {
        padding: 80px 80px;
    }
}
@media (max-width: 890px){
    .section1 {
        padding: 80px 50px;
    }
}
@media (max-width: 480px) {
    .section1 {
        padding: 80px 20px;
    }
}
.business_container{
    display: flex;
    gap: 30px;
    width: 100%;
}
.business_image{
    width: 50%;
}
.business_image img{
    width: 95%;
    border-radius: 20px;
    height: auto;
}
.business_writeup{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "Roboto-Regular", sans-serif;
}
.business_writeup h1{
    font-weight: bold;
    font-size: clamp(1.1rem, 2vw, 2rem);
}
.business_writeup p, ul {
    line-height: 22px;
    font-size: clamp(0.87rem, 2vw, 1rem);
    color: #6a6a6a;
    line-height: 20px;
}
.business_writeup ul{
    margin-top: -10px;
}

.business_writeup ul h3 {
    padding: 5px;
    font-size: clamp(0.87rem, 2vw, 1rem);
}



/* From Uiverse.io by CristianMontoya98 */
.btn_lm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #780A00;
    border: 2px solid #780A00;
    padding: 18px 40px;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.btn_ex{
    background: #ffffff;
    border: 2px solid #780A00;
    color: #780A00;
    width: 230px;
}

.btn_lm:hover {
    color: #780A00;
    /* transition: all 0.1s; */
}
.btn_ex:hover{
    color: white;
}

.btn_lm:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}
.btn_ex:after{
    background: #780A00;
}

.btn_lm:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.9s;
    transition: all 0.9s;
}
.icon_lm {
    animation: resetArrow 0.8s cubic-bezier(0.7, -0.5, 0.3, 1.2) forwards;
    z-index: 10;
}

.icon_lm div,
.icon_lm div::before,
.icon_lm div::after {
    height: 3px;
    border-radius: 1px;
    background-color: white;
}
.icon_ex div,
.icon_ex div::before,
.icon_ex div::after{
    background-color: #780A00;
}

.icon_lm div::before,
.icon_lm div::after {
    content: "";
    position: absolute;
    right: 0;
    transform-origin: center right;
    width: 14px;
    border-radius: 15px;
    transition: all 0.3s ease;
    background-color: white;
}
.icon_ex div::before,
.icon_ex div::after{
    background-color: #780A00;
}
.icon_lm div {
    position: relative;
    width: 24px;
    box-shadow: -2px 2px 5px var(--purple-400);
    transform: scale(0.9);
    background: linear-gradient(to bottom, var(--white), var(--purple-100));
    animation: swingArrow 1s ease-in-out infinite;
    animation-play-state: paused;
    background-color: white;
}
.icon_ex div{
    background-color: #780A00;
}

.icon_lm div::before {
    transform: rotate(36deg);
    top: 1px;
    box-shadow: 1px -2px 3px -1px var(--purple-400);
    animation: rotateArrowLine 1s linear infinite;
    animation-play-state: paused;
    background-color: white;
}
.icon_ex div::before{
    background-color: #780A00;
}

.icon_lm div::after {
    bottom: 1px;
    transform: rotate(324deg);
    box-shadow: -2px 2px 3px 0 var(--purple-400);
    background: linear-gradient(200deg, var(--white), var(--purple-100));
    animation: rotateArrowLine2 1s linear infinite;
    animation-play-state: paused;
    background-color: white;
}
.icon_ex div::after {
    background-color: #780A00;
}

 .icon_lm div::before,
.icon_lm div::after,
.icon_lm div{
    animation-play-state: running;
}

.btn_lm:hover .icon_lm div::before,
.btn_lm:hover .icon_lm div::after,
.btn_lm:hover .icon_lm div {
    animation-play-state: running;
    background-color: #780A00;
}

.btn_ex:hover .icon_ex div::before,
.btn_ex:hover .icon_ex div::after,
.btn_ex:hover .icon_ex div{
    background-color: #ffffff;
}
@keyframes swingArrow {
    50% {
        transform: translateX(5px) scale(0.9);
    }
}

@keyframes rotateArrowLine {
    50% {
        transform: rotate(30deg);
    }

    80% {
        transform: rotate(55deg);
    }
}

@keyframes rotateArrowLine2 {
    50% {
        transform: rotate(330deg);
    }

    80% {
        transform: rotate(300deg);
    }
}

/* line below each section */
.vector-2003 {
    background-color: #780A00;
    height: 0.5px;
    width: 30%;
    margin-top: 60px;
    /* position: absolute;
    left: 37%;
    bottom: 70px; */
}




/* freelancing */

.freelancer {
    margin-top: -120px;
    position: relative;
}

.freelancer_container {
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
}




/* Event section */
.events {
    margin-top: -120px;
    position: relative;
    z-index: 1;
}

@media (max-width: 1020px) {

    .blob1,
    .blob2,
    .blob3 {
        display: none;
    }

    .business_container {
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
        width: 100%;
    }

    .business_image {
        width: 100%;
    }

    .business_image img {
        width: 100%;
        border-radius: 20px;
        height: auto;
    }

    .business_writeup {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .freelancer_container {
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
    }

    .vector-2003 {
        width: 100%;
        position: relative;
        margin-top: 40px;
        /* right: 0%;
        left: 0%;
        bottom: 70px; */
    }
    
    .icon_lm div,
    .icon_lm div::before,
    .icon_lm div::after {
        height: 2px;
    }

    .icon_lm div::before,
    .icon_lm div::after {
        width: 10px;
    }

    .icon_lm div {
        width: 18px;
    }
}

@media (max-width: 480px) {
    .btn_lm {
        padding: 16px 20px;
        font-size: 14px;
        margin-top: -10px;
    }
}


/* explore section */
.explore{
    padding: 60px 120px;
    background-color: #780a0047;
    backdrop-filter: blur(10px);
    width: 100%;
}

.explore_box {
    display: flex;
    justify-content: space-between;
}

.ready{
    font-size: clamp(1.4rem, 2vw, 3rem);
    margin-bottom: 10px;
}
@media (max-width: 1180px) {
    .explore {
        padding: 60px 100px;
    }
}

@media (max-width: 1180px) {
    .explore {
        padding: 60px 80px;
    }
}

@media (max-width: 890px) {
    .explore {
        padding: 60px 50px;
    }
    
    .explore_box{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        align-items: center;
    }
    .explore_box div{
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .explore {
        padding: 60px 20px;
    }
    .explore_box{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        align-items: center;
    }
    .explore_box div{
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        text-align: center;
    }
    .btn_ex{
        width: 200px;
    }
}






/* footer */
.section3 {
    padding: 20px 120px;
    background: #780A00;
    width: 100%;
    height: 60vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.footer_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
}

.footer_logo {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logos1 {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    cursor: pointer;
    margin-top: -100px;
}

.logo_container2 {
    background-image: url(/img/cgexplicit\ white\ \(5\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    width: 200px;
    height: 120px;
    margin-left: -30px;
}

.footer_box1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-block: 20px;
}

.container6 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: start;
    justify-content: start;
}

.footer_contact {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: start;
    justify-content: start;

}

.footer_legal {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: start;
    justify-content: start;
}

.container6 h4,
.footer_contact h4,
.footer_legal h4 {
    color: #a79c04;
    font-family: "Roboto-Regular", sans-serif;
    font-size: clamp(0.7rem, 2vw, 1rem);
    position: relative;
    padding-bottom: 7px;
    margin-bottom: 10px;
}

.container6 h4::before,
.footer_contact h4::before,
.footer_legal h4::before {
    content: "";
    height: 2px;
    width: 50%;
    position: absolute;
    bottom: 0;
    background-color: #a79c04;
}

.container6 a,
.footer_contact a,
.footer_legal a {
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    font-size: clamp(0.5rem, 1vw, 0.8rem);
    line-height: 30px;
    transition: all 0.5s;
}


.container6 a:hover,
.footer_contact a:hover,
.footer_legal a:hover {
    text-decoration: underline;
    transition: all 0.5s;
}


.socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    position: absolute;
    bottom: 70px;
    left: 0px;
}

.socialicon {
    list-style-type: none;
    display: flex;
    gap: 0px;
}

.socialicon li {
    padding-inline: 30px;
}

.socials .socialicon i {
    display: block;
    color: #8f6313;
    align-items: center;
}

.socials .socialicon i:hover {
    color: #919393ab;
}

.socialsapp a {
    font-size: clamp(1rem, 1vw, 1.6rem);
    color: #a79c04;
    text-decoration: none;
    padding: 5px;
    margin-inline: 20px;
}


.line-1 {
    margin-top: -1px;
    border-style: solid;
    border-color: #fff8f6;
    border-width: 1px 0 0 0;
    flex-shrink: 0;
    width: 40%;
    height: 0px;
    position: absolute;
    /* left: 20px; */
    bottom: 40px;

}

.container7 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    height: 100px;
    position: absolute;
    /* left: 20px; */
    bottom: -30px;
}

.title20 {
    color: #fff8f6;
    font-family: "Roboto-Regular", sans-serif;
    font-size: clamp(0.5rem, 1vw, 0.7rem);
    line-height: 28px;
    font-weight: 400;
}

@media (max-width: 900px) {
    .section3 {
        padding: 20px 80px;
    }

    .line-1 {
        width: 100%;
    }
}

@media (max-width: 680px) {
    .section3 {
        padding: 20px 50px;
    }

}

@media (max-width: 480px) {
    .section3 {
        padding: 20px 20px;
    }

    .logos1 {
        margin-top: -100px;
    }

    .logo_container2 {
        width: 130px;
        height: 80px;
        margin-left: -20px;

    }
}