* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    scrollbar-width: none;
}

.service {
    background: #f8f5f457;

}

.section {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    border-radius: 0px 0px 50px 50px;
    padding: 60px 170px 60px 170px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    height: 22vh;
    position: relative;
    overflow: hidden;
}


.container_services {
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.title_services {
    color: #f6fef8;
    text-align: center;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    position: relative;

}

.description_services {
    color: #f6fef8;
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    position: relative;
}

.top-bar {
    background: #f6fef8;
    opacity: 0.75;
    padding: 20px 120px ;
    width: 100%;
    height: 12vh;
    position: absolute;
    left: 50%;
    translate: -50%;
    top: 20px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
    overflow: hidden;
}

.topbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
}

.logos {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo_container {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    margin-inline: 0px 10px;
    width: 40px;
    height: 40px;
}

.logo_title {
    color: #780A00;
    font-family: "Roboto-Medium", sans-serif;
    font-size: clamp(26px, 2vw, 16px);
    line-height: 36px;
    font-weight: 500;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
}

.menu {
    display: flex;
    justify-content: space-between;
    gap: 4.125em;
}

.tab {
    text-decoration: none;
    color: #780A00;
    font-size: 1.325em;
    line-height: 24px;
    letter-spacing: 0.05em;
    font-weight: 400;
    position: relative;
    align-items: center;
    cursor: pointer;
}

.tab::before {
    content: '';
    width: 0%;
    height: 5px;
    background-color: #780A00;
    position: absolute;
    bottom: -6px;
    transition: 0.9s;
}

.tab:hover::before {
    width: 100%;
}

/* freelancing */
.freelacing_section{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-block: 0 50px;
}

.container_freelance {
    display: flex;
    justify-content: space-between;
    margin-inline: 8em;
    margin-block: 80px 20px;
}


.title2 {
    color: #780A00;
    text-align: left;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
}

.description2 {
    color: #780A00;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

.button {
    overflow: hidden;
}

.button_learnmore {
    border: none;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    background: #780A00;
    border-radius: 50px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 240px;
    position: relative;
}

.title_learnmore {
    color: #ffffff;
    text-align: left;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    position: relative;
}

.freelance_options {
    background: #780A00;
    padding: 60px 150px 60px 150px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    height: 260px;
    position: relative;
    overflow: hidden;
}

.freelance_options2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
}

.freelance_options_list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.freelance_options_item {
    padding: 12px 0px 12px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
}

.freelance_options_item_frame {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 50px;
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    position: relative;
}

.freelance_options_icon {
    color: #000000;
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 90px;
    line-height: 100px;
    font-weight: 400;
    position: absolute;
    left: 50%;
    translate: -50% -50%;
    top: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.frame-427318906 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.freelance_options_icon_title {
    color: #f6fef8;
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
}

.top_freelancer {
    padding: 20px 120px 120px 120px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.top_freelancer_container {
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.top_freelancer_container2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 100%;
}

.title5 {
    color: #780A00;
    text-align: left;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 28px;
    line-height: 48px;
    font-weight: 700;
    position: relative;
    align-self: stretch;
}

.description3 {
    color: #780A00;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    width: 860px;
}

.top_freelancer_list {
    display: flex;
    flex-direction: column;
    gap: 0px;
    flex-shrink: 0;
    width: 100%;
    position: relative;
}

.top_freelancer_row {
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
}

.top_freelancer_card {
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    position: relative;
    width: 200px;
    height: 250px;
    box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transition: 0.9s;
}
.top_freelancer_card:hover{
    height: 310px;
}

.image-container {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.top_freelancer_image {
    align-self: stretch;
    flex: 1;
    position: relative;
}

.top_freelancer_title6 {
    color: #780A00;
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    translate: 0 -50%;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top_freelancer_tag {
    background: #fffafac6;
    border-radius: 6px 6px 6px 6px;
    padding: 4px 8px 4px 8px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 15px;
    top: 200px;
}

.top_freelancer_text {
    color: #780A00;
    text-align: left;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    position: relative;
}

.top_freelancer_text-content {
    background: #f6fef8;
    padding: 5px 40px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.top_freelancer_title7 {
    color: #780A00;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
}

.top_freelancer_subtitle {
    color: #1e5f30;
    text-align: left;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 10px;
    line-height: 0px;
    font-weight: 500;
    position: relative;
    align-self: stretch;
}

.top_freelancer_icon-buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.top_freelancer_icon2 {
    color: #1e5f30;
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    position: relative;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
    overflow: hidden;
}
/* Event section */
.Event_section {
    padding: 60px 120px 180px 120px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.event_container2 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    position: relative;
}

.event_title {
    color: #780A00;
    text-align: left;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    width: 100%;
}

.event_description {
    color: #780A00;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

.event_list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.event_row {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 100%;
}

.event_card {
    border-radius: 6px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 1px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    position: relative;
    overflow: hidden;
}
.event_image-container{
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 300px;
    position: relative;
    overflow: hidden;
}
.event_image{
    align-self: stretch;
    flex: 1;
    position: relative;
}

.event_text-content {
    background-color: #f6fef8a0;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #780A00;
    font-family: "Roboto-Regular",
        sans-serif;
    transition: 0.9s;
}
.event_text-content:hover{
    background-color: #f6fef8;
}

.vector-2003 {
    background-color: #780A00;
    height: 1px;
    width: 100%;
    overflow: visible;
}

/* consultation */
.consultation {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    padding-block: 0px 50px;
}

.consultation_list {
    padding: 80px 120px 10px 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.consultation_container {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: left;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 100%;
}

.consultation_title {
    color: #780A00;
    text-align: left;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
}

.consultation_description {
    color: #780A00;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

.consult_contents {
    background: #780A00;
    padding: 20px 120px 20px 120px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.consult_list {
    padding: 20px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 100%;
}

.consult_row {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.consult_article {
    background-color: #00000027;
    border-radius: 6px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.204);
    border-width: 1px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
    transition: 0.9s;
}
.consult_article:hover{
    box-shadow: 2px 2px 8px 1px  #000000;
}

.consult_icon {
    color: #000000;
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 62.5px;
    line-height: 100px;
    font-weight: 400;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.frame-4273189062 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    position: relative;
}

.consult_title11 {
    color: #f6fef8;
    text-align: left;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    position: relative;
    align-self: stretch;
}

.consult_subtitle2 {
    color: #f6fef8;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
}

.inquiry_form {
    padding: 10px 120px 120px 120px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.inquiry_container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.inquiry_title {
    color: #780A00;
    text-align: left;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 20px;
    line-height: 48px;
    font-weight: 500;
}
.inquiry_list{
    width: 100%;
}

.inquiry_row {
    display: flex;
    flex-direction: row;
    gap: 80px;
    width: 100%;
}

.inquiry_input {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    width: 40%;
}

.inquiry_title13 {
    color: #780A00;
    text-align: left;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
}

.inquiryinput {
    background: #ffffff;
    border-radius: 6px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 1px;
    width: 100%;
    padding: 10px ;
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
}
#inquiryinput{
    border: none;
}
.inquiry_button {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    overflow: hidden;
    margin-top: 10px;
}

.inquiry_primary {
    border: none;
    background: #780A00;
    border-radius: 50px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 240px;
    position: relative;
}

.inquiry_title14 {
    color: #f6fef8;
    text-align: left;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    position: relative;
}

/* Tutoring service */
.tutoring_container {
    padding: 60px 120px 180px 120px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.tutoring_container2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.tutoring_title {
    color: #780A00;
    text-align: left;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
}

.tutoring_description {
    color: #780A00;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

.tutoring_list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    justify-content: left;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.tutoring_row {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 100%;
}
.tutoring_row1{
    display: flex;
    width: 30%;
    align-items: flex-start;
    justify-content: left;
}
.tutoring_card {
    border-radius: 30px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 1px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    position: relative;
    overflow: hidden;
    font-family: "Roboto-Regular", sans-serif;
}
.tutoring_card1{
    display: flex;
    align-items: flex-start;
    justify-content: left;
}
.tutoring_image-container {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 200px;
    position: relative;
    overflow: hidden;
}
.tutoring_image {
    align-self: stretch;
    flex: 1;
    position: relative;
}
.tutoring_text-content {
    background: #780A00;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    color: #f6fef8;
}

.tutoring_title16 {
    color: #f6fef8;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
}

.tutoring_subtitle3 {
    color: #f6fef8;
    text-align: left;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 12px;
    line-height: 28px;
    font-weight: 500;
    position: relative;
    align-self: stretch;
    height: 28px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.subtitle4 {
    color: #f6fef8;
    text-align: left;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    position: relative;
    align-self: stretch;
}

/* mentorship section */
.mentorship_content {
    padding: 60px 120px 50px 120px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.mentorship_title {
    color: #780A00;
    text-align: left;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
}

.mentorship_description {
    color: #780A00;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

.mentorship_list {
    padding: 20px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 100%;
}
.mentorship_row {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 100%;
}

.mentorship_article {
    border-radius: 6px;
    border-style: solid;
    border-color: #780a0074;
    border-width: 1px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
}

.mentorship_image-container2 {
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
}
.mentorship_image {
    align-self: stretch;
    flex: 1;
    position: relative;
}

.mentorship_title18 {
    color: #780A00;
    text-align: left;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 20px;
    line-height: 18px;
    font-weight: 500;
    position: relative;
    align-self: stretch;
}

.mentorship_subtitle5 {
    color: #780A00;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
}

.mentorship_user {
    padding: 4px 0px 4px 0px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.mentorship_icon-buttons2 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.selection {
    padding: 4px 0px 4px 0px;
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.label-normal {
    background: rgba(217, 217, 217, 0.5);
    border-radius: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 0.5px;
    padding: 2px 4px 2px 4px;
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.label-text {
    color: #1e5f30;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 10px;
    line-height: 16px;
    font-weight: 400;
    position: relative;
}

.avatar {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    position: relative;
}

.avatar2 {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
}

.frame-4273189063 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    position: relative;
}

.mentorship_title19 {
    color: #1e5f30;
    text-align: left;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    position: relative;
    align-self: stretch;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.mentorship_container9 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    height: 276px;
    position: relative;
}

.mentorship_description8 {
    color: #1e5f30;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
}

.mentorship_input{
    width: 50%;
    border-radius: 50px;
}
#inquiryinput{
    width: 100%;
}

/* footer */
.section3 {
    background: #780A00;
    border-radius: 50px 50px 0px 0px;
    padding: 60px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    height: 40vh;
    position: relative;
    overflow: hidden;
}

.rectangle-41372 {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 150px;
    top: 50px;
}

.title16 {
    color: #fff8f6;
    position: absolute;
    left: 200px;
    top: 52px;
}

.container6 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 100px;
    position: absolute;
    left: 130px;
    top: 65px;
}

.title17 {
    color: #fff8f6;
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 124px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title18 {
    color: #fff8f6;
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    position: absolute;
    left: 140px;
    top: 0px;
    width: 99px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title19 {
    color: #fff8f6;
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    position: absolute;
    left: 280px;
    top: 0px;
    width: 150px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials {
    display: flex;
    position: absolute;
    right: 18.4%;
    left: 79.86%;
    bottom: 83.22%;
    top: 20.5%;
}

.socials a {
    padding: 5px;
    border-radius: 50%;
    margin-inline: 5px;
}

.fa-brands {
    border-radius: 50%;
    color: #fff8f6;
}

.line-1 {
    margin-top: -1px;
    border-style: solid;
    border-color: #fff8f6;
    border-width: 1px 0 0 0;
    flex-shrink: 0;
    width: 76%;
    height: 0px;
    position: absolute;
    left: 150px;
    top: 180px;
}

.container7 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    height: 100px;
    position: absolute;
    left: 20px;
    top: 180px;
}

.title20 {
    color: #fff8f6;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}
